a.out
baremetal/memory
baremetal/linux.bin
.cache/*
.vscode
compile_commands.json

# Python
__pycache__/

# Ignore build files
/build
/build_nosim
/build_simddr
/build_*

# Logs
user.log

# Ignore agent workflows
# .agent/
