a.out
baremetal/memory
baremetal/linux.bin
.cache/*
.vscode
compile_commands.json

# Python
__pycache__/

# Ignore build files
/build
/build_nosim
/build_simddr
/build_*

# Logs
user.log

# Ignore agent workflows
# .agent/

# Generated generalized-IO bit maps
front-end/icache/include/icache_*_pi_map.csv
front-end/icache/include/icache_*_po_map.csv
front-end/icache/include/icache_*_pi_bits.csv
front-end/icache/include/icache_*_po_bits.csv
